@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v24-latin-500.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v24-latin-700.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fffefe;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 24px;
}

.site-header {
  padding: 19px 0;
  background-color: #fffefe;
}

.header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0;
}

.header__menu-nav {
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 30px;
  margin-left: 237px;
}

.header__menu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #22343D;
}

.header__menu-span {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #22343D;
}

.header__sign-btn {
  padding: 12px 19px;
  border: 2px solid #BCD0E5;
  border-radius: 4px;
  background-color: #fff;
  transition: all 0.3s;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #22343D;
  margin-right: 14px;
}

.header__signup-btn {
  padding: 12px 19px;
  border: 2px solid #02897A;
  border-radius: 4px;
  background-color: #02897A;
  transition: all 0.3s;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #fff;
  margin-right: 14px;
}

.menu__icon {
  display: none;
}

.wrapper__image {
  display: inline-block;
}

.href {
  align-items: end;
}

@media (max-width: 1110px) {
  .header__menu-nav {
    display: none;
  }
  .header__end {
    display: none;
  }
  .menu__icon {
    display: inline-block;
  }
  .header__right-icon {
    display: none;
  }
}
.hero__section {
  padding: 25px 0;
  background-color: #fffefe;
}

.build__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.build__title {
  max-width: 458px;
  width: 100%;
}

.build__title > h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 18px;
}

.build__title > p {
  margin-bottom: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #22343D;
}

.hero__span {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.build__btn {
  padding: 15px 35px;
  border: 2px solid #02897A;
  border-radius: 4px;
  background-color: #02897A;
  transition: all 0.3s;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #fff;
}

.build__vd-icon {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #02897A;
}

.build__btn-img {
  margin-right: 10px;
}

.wrapper__image {
  max-width: 600px;
  width: 100%;
}

@media (max-width: 992px) {
  .hero__span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .build__wrapper {
    flex-direction: column-reverse;
    text-align: center;
  }
  .build__title {
    padding: 40px 0;
    max-width: 100%;
  }
  .build__title > h1 {
    width: 100%;
  }
  .build__actions {
    justify-content: center;
  }
}
@media (max-width: 776px) {
  .header__image {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 480px) {
  .hero__span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .build__actions {
    flex-direction: column;
  }
  .build__title > h1 {
    font-size: 32px;
    line-height: 45px;
  }
}
.build__product {
  padding-top: 120px;
  padding-bottom: 50px;
  background-color: #fffefe;
  background-image: url("../../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin-top: -50px;
  padding-bottom: 100px;
}

.product__title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #22343D;
}

.product__list {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 0;
}

.product__item > h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #22343D;
}

.product__item > p {
  width: 200px;
  margin-top: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #22343D;
}

.product__item > img {
  margin-top: 56px;
  margin-bottom: 30px;
}

.product__btn {
  padding: 15px 25px;
  border: 2px solid #02897A;
  border-radius: 4px;
  background-color: #02897A;
  transition: all 0.3s;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 34px;
}

@media (max-width: 810px) {
  .product__list {
    flex-direction: column;
  }
  .product__item {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .product__item > p {
    width: 100%;
    text-align: center;
  }
}
.management__section {
  padding: 150px 0;
  background-color: #fff;
}

.managment__wrappers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.managment__wrappers {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.management__selector > h6 {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 12px;
}

.management__selector {
  width: 450px;
}

.management__selector > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 25px;
}

.management__info {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #22343D;
}

.management__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 131px;
}

.management__support {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #22343D;
  margin-bottom: 23px;
}

.support__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #02897A;
}

.managment__icon {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 1046px) {
  .managment__wrappers {
    flex-direction: column-reverse;
  }
  .wrappers2 {
    flex-direction: column;
  }
  .mag__responsive {
    flex-direction: column;
  }
  .management__selector {
    padding-top: 55.45px;
  }
}
@media (max-width: 560px) {
  .management__selector {
    width: 100%;
    text-align: center;
  }
  .managment__image {
    width: 100%;
  }
}
.easy > h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #22343D;
  text-align: center;
}

.easy > p {
  width: 542px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #22343D;
  text-align: center;
  margin-left: 280px;
  padding-top: 16px;
}

.easy__item > img {
  width: 98px;
  height: 98px;
  border: 3px solid #FF0909;
  border-radius: 50%;
}

.easy__list {
  display: grid;
  grid-template-columns: 354px 354px;
  grid-template-rows: 200px;
  gap: 30px;
  margin-left: 100px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.easy__item {
  padding-top: 32px;
  display: flex;
  align-items: center;
  justify-content: none;
  gap: 32px;
}

.easy__box {
  width: 274px;
  height: 59px;
  background-color: #22343D;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  padding-top: 20px;
}/*# sourceMappingURL=main.css.map */