.easy__section {
    background-color: $bg-gray; 
    background-image: url("../../images/easy_bg.png"); 
    background-repeat: no-repeat;
    background-position: bottom center; 
    background-size: cover;  
    margin-bottom: -50px; 
    padding-top: 100px;
    
}
 .easy{

 }
.easy > h1 {
    @include TextStyle($FW: 700, $FS: 32px, $LH: 100%, $LS: 0px, $CLR: $clr-darkblack);
    text-align: center;

}

.easy > p {
      width: 542px;
    @include TextStyle($FW: 500, $FS: 16px, $LH: 26px, $LS: 0px, $CLR: $clr-darkblack);
    text-align: center;
    margin-left: 280px;
    padding-top: 16px;
}

.item_img1{
    width: 98px;
    height: 98px;
    border: 3px solid #FF0909;
  border-radius: 50%;

}
.item_img2{
    width: 98px;
    height: 98px;
    border: 3px solid #740A76;
  border-radius: 50%;
}
.item_img3{
    width: 98px;
    height: 98px;
    border: 3px solid #02897A;
  border-radius: 50%;
}
.item_img4{
    width: 98px;
    height: 98px;
    border: 3px solid #035B81;
  border-radius: 50%;
}
.easy__list {
      display: grid; 
  grid-template-columns: 354px  354px;  
  grid-template-rows: 200px ; 
  gap: 30px; 
  margin-left: 100px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

}
.easy__item {
    padding-top: 32px;
    @include Display($items: center, $justify:none, $gap: 32px);

}
.easy__box {
    width: 274px;
    height: 59px;
    background-color:$clr-white;
    border-radius: 30px;
    text-align: center;
    color: $clr-darkblack;
    padding-top: 20px;
}

.easy__btn{
    @include BtnStyle($BC:$clr-green, $P:15px 30px , $BR:4px ,$BCR:$clr-green);
    @include TextStyle($FW: 700, $FS: 16px, $LH: 100%, $LS: 0px, $CLR: $clr-white);
     margin-left: 460px;
     margin-top: 63px;
}


